/* Coolors Exported Palette - https://coolors.co/557296-2374e4-0b1b29-09fa5b-2382e4 */

/* CSS HEX */
--blue-yonder: #557296ff;
--bright-navy-blue: #2374E4ff;
--rich-black-fogra-29: #0B1B29ff;
--erin: #09FA5Bff;
--azure: #2382E4ff;

/* CSS HSL */
--blue-yonder: hsla(213, 28%, 46%, 1);
--bright-navy-blue: hsla(215, 78%, 52%, 1);
--rich-black-fogra-29: hsla(208, 58%, 10%, 1);
--erin: hsla(140, 96%, 51%, 1);
--azure: hsla(210, 78%, 52%, 1);

/* SCSS HEX */
$blue-yonder: #557296ff;
$bright-navy-blue: #2374E4ff;
$rich-black-fogra-29: #0B1B29ff;
$erin: #09FA5Bff;
$azure: #2382E4ff;

/* SCSS HSL */
$blue-yonder: hsla(213, 28%, 46%, 1);
$bright-navy-blue: hsla(215, 78%, 52%, 1);
$rich-black-fogra-29: hsla(208, 58%, 10%, 1);
$erin: hsla(140, 96%, 51%, 1);
$azure: hsla(210, 78%, 52%, 1);

/* SCSS RGB */
$blue-yonder: rgba(85, 114, 150, 1);
$bright-navy-blue: rgba(35, 116, 228, 1);
$rich-black-fogra-29: rgba(11, 27, 41, 1);
$erin: rgba(9, 250, 91, 1);
$azure: rgba(35, 130, 228, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-right: linear-gradient(90deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-bottom: linear-gradient(180deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-left: linear-gradient(270deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-top-right: linear-gradient(45deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-bottom-right: linear-gradient(135deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-top-left: linear-gradient(225deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-bottom-left: linear-gradient(315deg, #557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);
$gradient-radial: radial-gradient(#557296ff, #2374E4ff, #0B1B29ff, #09FA5Bff, #2382E4ff);